body {
	width:75%;
	margin:5em auto;
	background:#333;
	color:#ccc;
	font:normal 1em/1.3em sans-serif;
	text-shadow:#000 0 0 .3em;
}

a { color:#ccc; text-decoration:none; }
a:hover, a:focus { color:#fff; text-shadow:#000 0 0 1em; outline:0; }
a:active { color:#ddd; }
a img { border:0; }
img { max-width:70px; max-height:70px; vertical-align:middle; }
li a { width:70px; height:70px; }

ul { list-style:none; margin:0; padding:0; max-width:100%; height:6em; }
ul li { display:inline; }

/* locale styling */
#locale { position:absolute; top:0; right:0; }
#locale li a { padding:.5em; margin:0; }
#locale li a:hover, #locale li a:focus { border-radius:.5em; }

#search { z-index:200; position:absolute; top:2.3em; right:5em; padding:1em; background:none; border:none; }
#search label { position:absolute; top:1.1em; left:1em; font-size:2em; }
#searching { background:none; border:none; color:#fff; font-size:2em; padding:.3em .5em; width:7em; outline:0; }

/* main heading */
h1 { font-size:3.8em; display:block; white-space:nowrap; }
h1 img {  width:.85em; height:.85em; margin:-.15em .3em 0 -1.3em; }
h1 a { color:#fff; text-decoration:none; padding:.5em; }
h1 a:hover, h1 a:focus { color:#fff; text-shadow:#000 0 0 1em; outline:0; }
h1+p { color:#fff; margin:-2.7em 0 0 1.5em; z-index:-100; }
p+h2 { margin:-1em 0 0 9.5em; z-index:100; }
p+h2+p { position:absolute; font-size:3em; margin:-1em 0 0 12.5em; z-index:100; }
p+h2 a { padding:1em; }

/*div { position:absolute; margin:-3.7em 0 0 35em; }
div a { padding-left:2em; }
div a span, div a img { visibility:hidden; font-size:.8em; }
div a:hover img, div a:focus img { visibility:visible; display:inline; position:absolute; margin-top:-1.5em; }
div a:hover span, div a:focus span { visibility:visible; display:block; margin-left:2.5em; }
p+h2+div+h2 { margin-top:1.4em; }
p+h2+div+h2+ul { margin-top:2em; }*/

/* category headings */
h2 { font-size:3em; margin:.8em 0 0 -2em; display:block; position:absolute; z-index:-100; text-transform:capitalize; }
h2 a { color:#222; text-shadow:#444 0 1px 0; }
h2 a:hover, h2 a:focus { color:#111; text-shadow:#444 0 1px 0; outline:0; }
h2#top+ul { margin-bottom:1.5em; }
/*h2#top+ul+h2 { margin-top:1.3em; }*/

h2+ul li { line-height:6em; }
h2+ul li a { padding:35px 20px; white-space:nowrap; }
/* icon hover */
h2+ul li a:hover, h2+ul li a:focus, a.selected, #searching { background:rgba(30, 30, 30, 0.7);  border-radius:.5em; box-shadow:#444 0 1px 0; }
h2+ul li a:active { background-color:#111; }
/* text appearance */
li a span { display:none; }
li a:hover span, li a:focus span { position:absolute; display:inline; margin:30px 0 0 -82px; }
li a:hover span strong, li a:focus span strong { position:absolute; display:inline; margin-top:-1em; }

/* footer */
h3 { margin-top:4em; color:#777; }
h3+p, h3+p+p, h3+p+p+p { color:#777; }
