Options +FollowSymlinks
RewriteEngine on
RewriteRule ^top/([^/]+) /?top=$1 [NC]
RewriteRule ^top /?top=seeks,diaspora,identica,etherpad,reddit,newsblur,openstreetmap [NC]

DirectoryIndex index.php index.html

# redirects to other functions
Redirect /stats http://stats.tuxfamily.org/libreprojects.net
Redirect /plan http://jancborchardt.titanpad.com/libreprojects
Redirect /code https://gitorious.org/libreprojects/libreprojects/trees/master

# favorite services
Redirect /jan http://libreprojects.net/top/riseup,diaspora,identica,jappix,reddit,newsblur,seeks,dictcc,etherpad,funambol,grical,wordpress,openstreetmap,wikipedia,librefm,bewelcome,launchpad,gitorious,tuxfamily,lichess,wpilot,achtungdiekurve
Redirect /alaric http://libreprojects.net/top/diaspora,reddit,seeks,wikipedia,projectgutenberg,jamendo,freemusicarchive
Redirect /anne http://libreprojects.net/top/diaspora,seeks,dictcc,wikinews,openstreetmap,wikipedia,jamendo
Redirect /arthur http://libreprojects.net/top/diaspora,identica,jappix,seeks,etherpad,grical,newsblur
Redirect /benny http://libreprojects.net/top/diaspora,reddit,etherpad,seeks,wikipedia,lichess,jamendo
Redirect /dominik http://libreprojects.net/top/diaspora,seeks,grical,dictcc,newsblur,wikipedia,openstreetmap
Redirect /hannes http://libreprojects.net/top/diaspora,jappix,reddit,seeks,wikipedia,newsblur,achtungdiekurve
Redirect /insa http://libreprojects.net/top/diaspora,reddit,seeks,wikipedia,lichess,jamendo,freemusicarchive
Redirect /martin http://libreprojects.net/top/diaspora,jappix,seeks,wikipedia,wikitravel,openstreetmap,bewelcome
Redirect /parker http://libreprojects.net/top/diaspora,identica,reddit,seeks,wikipedia,dictcc,jamendo

# redirect anything else to main page
#RewriteRule ^(.)$ http://libreprojects.net/ [NC,L]

# April 1
#Redirect /index.html /alternatives/index.html [NC,L]
