body {	width:70%; margin:5em auto;
	background:#333; color:#ccc;
	font:normal normal normal 1em/1.3em sans-serif;
	text-shadow:#000 0 0 .3em; }

a { color:#ccc; text-decoration:none; }
a:hover, a:focus { color:#fff; text-shadow:#000 0 0 1em; outline:0; }
a:active { color:#000; }
a img { border:0; }
img { margin-right:10px; max-width:70px; vertical-align:middle; }

ul { list-style:none; margin:0; padding:0; }
ul li { display:inline; }
ol { position:relative; margin:-6.2em 0 0 18em; }
ol li { visibility:hidden; color:#333; white-space:nowrap; text-shadow:none; }
ol li strong, ol li:hover { visibility:visible; color:#fff; text-shadow:#000 0 0 15px; }


h1, h1+p, h1+p+p { color:#fff; white-space:nowrap; text-shadow:#000 0 0 15px; }
h1+p+p { margin-top:1.3em; }
h2 { margin-top:2em; }
h2+ul li { line-height:5em; }
h2+ul li a { padding:35px 20px; white-space:nowrap; }
h2+ul li a:hover, h2 + ul li a:focus { background-color:#444; border-radius:10px; }
h2+ul li a:active { background-color:#666; border-radius:10px; }
h3 { margin-top:4em; color:#777; }
h3 + p { color:#777; }
h3 + p + p { color:#777; }
